.desk-header {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 160px;
      }
      .desk-title {
        display: block;
        width: 700px;
        height: auto;
        max-width: 95%;
        margin: -10px auto;
      }
      .desk-sub {
        display: block;
        width: 550px;
        height: auto;
        margin: -40px auto -20px;
      }
      .desk-nav {
        width: 100%;
        height: 30px;
        padding-left: 15%;
        background: rgb(230, 29, 37);
      }
      #desk-link1, #desk-link2 {
        height: 30px;
        border-left-width: 2px;
        border-left-style: solid;
        border-left-color: white;
        font-family: Arial, sans;
        color: rgb(255, 255, 255);
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        position: relative;
      }
      #desk-link2 {
        border-right-width: 2px;
        border-right-style: solid;
        border-right-color: white;
      }
      #desk-link1 p, #desk-link2 p {
        margin: 0px;
        line-height: 30px;
      }
      .desk-inner {
        position: absolute;
        top: 160px;
        width: 100%;
        bottom: 60px;
        background: rgb(255, 255, 255);
      }
      .desk-content {
        width: 60%;
        height: 100%;
        margin: 0px auto;
        min-width: 500px;
      }
      .desk-cheer {
        margin-left: -157px;
        margin-top: -37px;
      }
      .desk-footer {
        height: 60px;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: center;
      }
      .desk-footer-bar {
        width: 100%;
        height: 10px;
        background: rgb(230, 29, 37);
      }
      .desk-rogers {
        width: 300px;
        height: 250px;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
      .desk-rogers-wrap {
        width: 300px;
        height: 50px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }
      .desk-martin-wrap {
        position: absolute;
        bottom: 0px;
        width: 10%;
        height: 90%;
        left: 0%;
        max-height: 615px;
      }
      .desk-martin {
        width: auto;
        height: 100%;
        position: absolute;
        bottom: 0px;
        right: -100px;
      }
      .desk-stroman-wrap {
        position: absolute;
        bottom: 0px;
        width: 10%;
        height: 88%;
        right: 0%;
        max-height: 606px;
      }
      .desk-stroman {
        width: auto;
        height: 100%;
        position: absolute;
        bottom: 0px;
        left: -100px;
      }
      .tablet .desk-stroman-wrap, .tablet .desk-martin-wrap {
        display: none;
      }
      .tablet .desk-content {
        width: 100%;
      }
      .mob-header {
        width: 100%;
        position: absolute;
        height: 130px;
        overflow: hidden;
        left: 0px;
        top: 0px;
      }
      .mob-title {
        display: block;
        width: 300px;
        max-width: 100%;
        height: 250px;
        margin: 0px auto -195px;
      }
      .mob-sub {
        display: block;
        width: 300px;
        max-width: 100%;
        height: auto;
        margin: 0px auto;
      }
      .mob-nav {
        width: 100%;
        height: 20px;
        text-align: center;
        background: rgb(230, 29, 37);
      }
      #mob-link1, #mob-link2 {
        height: 20px;
        font-family: Arial, sans;
        color: rgb(255, 255, 255);
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
        position: relative;
        font-size: 12px;
      }
      #mob-link2 {
        border-left-width: 2px;
        border-left-style: solid;
        border-left-color: white;
      }
      #mob-link1 p, #mob-link2 p {
        margin: 0px;
        line-height: 20px;
      }
      .mob-inner {
        position: absolute;
        top: 140px;
        width: 100%;
        bottom: 30px;
        background: rgb(255, 255, 255);
      }
      .mob-content {
        width: 100%;
        height: 100%;
        margin: 0px auto;
      }
      .mob-cheer {
        margin-left: -157px;
        margin-top: -37px;
      }
      .mob-footer {
        height: 30px;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: center;
      }
      .mob-footer-bar {
        width: 100%;
        height: 5px;
        background: rgb(230, 29, 37);
      }
      .mob-rogers {
        width: 150px;
        height: 125px;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
      .mob-rogers-wrap {
        width: 150px;
        height: 25px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }
      .tab-selected {
        font-weight: bold;
      }
.scrollable {
    overflow-y: scroll;
}
.yt-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.yt-wrap iframe {
    width: 100%;
    height: 100%;
}
.desk-cta {
    text-align: center;
    position: absolute;
    bottom: 70px;
    width: 100%;
    left: 0;
}
.desk-cta p {
    background: rgb(230, 29, 37);
    padding: 20px;
    font-family: Arial, sans;
    border-radius: 10px;
    color: white;
    margin: 0;
}
.mob-cta {
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}
.mob-cta p {
    background: rgb(230, 29, 37);
    padding: 5px 20px;
    font-family: Arial, sans;
    border-radius: 10px;
    color: white;
    margin: 0;
    font-size: 0.8em;
}
@media screen and (orientation: landscape) {
    .desk-cta p { padding: 5px 20px; font-size: 0.8em; }
    .mob-inner { bottom: 35px; }
    .mob-footer { height: 35px; }
    .desk-cta, .mob-cta { 
        position: relative;
        bottom: auto;
        width: auto;
        left: auto;
        display: inline-block;
        vertical-align: middle;
        margin-top: 3px;
    }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
    .desk-title { width: 500px; }
      .desk-sub { width: 400px; margin: -30px auto -15px; }
      .desk-nav { height: 20px; }
      #desk-link1, #desk-link2 { height: 20px; font-size: 0.8em; }
      #desk-link1 p, #desk-link2 p { line-height: 20px; }
      .desk-inner { top: 110px; bottom: 35px; }
    .desk-footer { height: 35px; }
      .desk-footer-bar { height: 5px; }
      .desk-rogers { width: 150px; height: 125px; }
      .desk-rogers-wrap { width: 150px; height: 25px; }
}